<html>

<head>
	<title>Sylvi.in - TAX INVOICE - ##INVOICE NUMBER##</title>
</head>

<body>
	<div class="row">
		<div class="invoice_content">
			<div class="col-xs-12 invoice_header">
				<p class="h1logo"><img src="##FIRM LOGO##" height="110px"></p>
				<p class="h1">TAX INVOICE</p>
			</div>
			<div class="col-xs-12 invoice_sub_header">
				<div class="row">
					<div class="col-xs-4 issued_to">
						<p class="issued">Billed##AND SHIPPED## To:</p>
						<p class="title">##BILLING NAME##</p>
						<p class="address">##BILLING ADDRESS##</p>
						<p class="state">##BILLING STATE##</p>
						<p class="country">##BILLING COUNTRY##</p>
					</div>
					<div class="col-xs-4 issued_by">
						<p class="issued">Sold By:</p>
						<p class="title">##FIRM NAME##</p>
						<p class="address">##FIRM ADDRESS##</p>
						<p class="state">##FIRM STATE##</p>
						<p class="country">##FIRM COUNTRY##</p>
						<p class="gst">GSTIN No. ##FIRM GST##</p>
						<p class="website">Website: ##FIRM WEBSITE##</p>
					</div>
					<div class="col-xs-4 invoice_details">
						<p class="issued">Invoice Details:</p>
						<ul>
							<li><div class="heading">INVOICE NO.</div><div class="details">: ##INVOICE NUMBER##</div></li>
							<li><div class="heading">INVOICE DATE</div><div class="details">: ##INVOICE DATE##</div></li>
							<li><div class="heading">ORDER NO.</div><div class="details">: ##ORDER NUMBER##</div></li>
							<li><div class="heading">ORDER DATE.</div><div class="details">: ##ORDER DATE##</div></li>
							<li><div class="heading">CHANNEL</div><div class="details">: ##FIRM WEBSITE##</div></li>
							<li><div class="heading">SHIPPED BY</div><div class="details">: ##FORWARD LOGISTIC##</div></li>
							<li><div class="heading">AWB NO</div><div class="details">: ##FORWARD TRACKING##</div></li>
							<li><div class="heading">PAYMENT METHOD</div><div class="details">: ##PAYMENT TYPE##</div></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xs-12 invoice_items ">
				<table class="table table-striped table-hover">
					<thead>
						##TABLE HEAD##
					</thead>
					<tbody>
						##ITEM DETAILS##
					</tbody>
					<tfoot>
						##TABLE FOOT##
					</tfoot>
				</table>
			</div>
			<div class="col-xs-12 footer">
				<div class="invoice_footer">
					<!-- <div class="row">
						<div class="col-xs-12 tnc">
							<ul class="ol">
								<li><a href="https://sylvi.in/warranty-registration?utm_source=invoice" target="_blank">Click here</a> to register your watch and get additional 6 Months Extendend Warranty Free.</li>
							</ul>
						</div>
					</div> -->
					<div class="row">
						<div class="col-xs-12">
							<p class="sign_note">This is a computer generated document and hence no signature is required</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>